.flex {
  display: flex;
}

.txt-red {
  color: #f33;
}

#content.main .search {
  width: 925px;
  margin-top: 185px;
  height: 240px;
  margin-bottom: 20px;
}
#content.main .search ol {
  display: flex;
}
#content.main .search ol li {
  width: 50%;
  padding: 30px;
}
#content.main .search ol li h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.53;
  letter-spacing: -1.02px;
  text-align: left;
  color: #185fc9;
}
#content.main .search ol li:first-child {
  border-right: 1px solid #ddd;
}
#content.main .search ol li .search-info p {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -1.5px;
  text-align: left;
  color: #222;
}
#content.main .search ol li button.search-btn {
  margin-top: 20px;
  height: 48px;
  padding: 12px 33px 11px;
  border: solid 1px #666;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.02px;
  text-align: center;
  color: #111;
}
#content.main .column2 .infobox {
  width: 448px;
  margin-bottom: 20px;
}
#content.main .column2 .infobox-head {
  height: 50px;
  background-color: #185fc9;
  padding-left: 20px;
}
#content.main .column2 .infobox-head h3 {
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 50px;
  letter-spacing: -1.52px;
  text-align: left;
  color: #fff;
}
#content.main .column2 .infobox-main {
  padding: 20px;
  background-color: #ebf2f5;
  border-bottom: 1px solid #d3dce0;
}
#content.main .column2 .infobox-main.btm {
  border-bottom: none;
  display: flex;
  align-items: flex-start;
}
#content.main .column2 .infobox-main.btm img {
  margin-right: 15px;
}
#content.main .column2 .infobox-main.btm .notice-txt .title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.53;
  letter-spacing: -1.02px;
  text-align: left;
  color: #444747;
}
#content.main .column2 .infobox-main.btm .notice-txt .detail {
  font-size: 13px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: -0.78px;
  text-align: left;
  color: #5e6162;
}
#content.main .column2 .infobox-main .box {
  width: 408px;
  height: 90px;
  padding: 13px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content.main .column2 .infobox-main .box span {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.26px;
  text-align: left;
  padding-left: 75px;
}
#content.main .column2 .infobox-main .box a img {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: right;
}
#content.main .column2 .infobox-main .box-navy {
  background: #185fc9 url(/img/info-board.svg) 30px center no-repeat;
  background-size: inherit;
  margin-bottom: 10px;
}
#content.main .column2 .infobox-main .box-blue {
  background: #009ff0 url(/img/info-tech.svg) 30px center no-repeat;
  background-size: inherit;
}
#content.main .column2 .infobox-info {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #d3dce0;
}
#content.main .column2 .infobox-info .box-number {
  width: 202px;
  height: 50px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ebf2f5;
}
#content.main .column2 .infobox-info .box-number p {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: -0.42px;
  text-align: center;
  color: #222;
}
#content.main .column2 .infobox-info .box-number:last-child {
  margin-right: 5px;
}
#content.main .column2 .infobox-info .area-white {
  margin-top: 20px;
}
#content.main .column2 .infobox-info .area-white ol {
  display: flex;
  flex-wrap: wrap;
}
#content.main .column2 .infobox-info .area-white ol li {
  display: flex;
  margin-bottom: 5px;
  margin-right: 15px;
  align-items: center;
}
#content.main .column2 .infobox-info .area-white ol li .info {
  padding: 0 5px;
  margin-right: 8px;
  border-radius: 2px;
  height: 30px;
  border: solid 1px #ccc;
  background-color: #f6f6f6;
}
#content.main .column2 .infobox-info .area-white ol li .info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: -0.84px;
  text-align: center;
  color: #666;
}
#content.main .column2 .infobox-info .area-white ol li .detail p {
  font-size: 15px !important;
  font-weight: 500;
  line-height: 1.73;
  text-align: left;
  color: #222;
}
#content.main .column2 .infobox-detail {
  background-color: #f6f6f6;
  padding: 20px;
}
#content.main .column2 .infobox-detail p {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.78px;
}
#content.main .column2 .infobox-detail p:first-child {
  margin-bottom: 5px;
}/*# sourceMappingURL=park.css.map */